extends ../layout

block content
    div.container
        h2.center Liste des évenements
        table.bordered
          thead
            tr
              th
              th Nom
              th Type
              th Date de début
              th Date de fin

          tbody
            each evenement, index in evenements
                tr(id=index)
                    td
                        a(class="btn-floating waves-effect waves-light blue")
                            i(class="material-icons left", id="buttonRole" + index, onClick="showRoles(" + index + "," + evenement.roles.length +")") keyboard_arrow_right
                    td=evenement.nom
                    td=evenement.type
                    td=evenement.date_debut
                    td=evenement.date_fin
                each role, i in evenement.roles
                  tr(
                    hidden
                    id="roles" + index + "Nb" + i
                  )  
                    td(colspan="3")="Nom : " + role.role
                    td(colspan="3")="Nombre de places :" + role.nbPersonnesRole
                  